.grid-pane {
	-fx-background-color: #37373C;
}

.vbox {
	-fx-background-color: #2A2A2A;
}

.vbox-commands {
	-fx-border-style: solid none none none;
	-fx-border-width: 0;
	-fx-border-color: #ffffff;
}

.scroll-pane{
   -fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.button {
	-fx-background-color: transparent;
	-fx-text-fill: #ffffff;
}

.button:hover {
	-fx-cursor: hand;
}

.button-svg {
	-icon-paint: #ffffff;
    -fx-background-color: -icon-paint;
    -size: 16;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.button-login {
	-icon-paint: #07807D;
    -fx-background-color: -icon-paint;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
	-fx-shape: "M10,17.25V14H3V10H10V6.75L15.25,12L10,17.25M8,2H17A2,2 0 0,1 19,4V20A2,2 0 0,1 17,22H8A2,2 0 0,1 6,20V16H8V20H17V4H8V8H6V4A2,2 0 0,1 8,2Z";
}

.button-play {
    -fx-shape: "M8,5.14V19.14L19,12.14L8,5.14Z";
}

.button-stop {
    -fx-shape: "M18,18H6V6H18V18Z";
}

.button-queue {
    -fx-shape: "M19,9H2V11H19V9M19,5H2V7H19V5M2,15H15V13H2V15M17,13V19L22,16L17,13Z";
}

.button-prev {
	-fx-shape: "M6,18V6H8V18H6M9.5,12L18,6V18L9.5,12Z";
}

.button-next {
	-fx-shape: "M16,18H18V6H16M6,18L14.5,12L6,6V18Z";
}

.button-shuffle {
	-fx-shape: "M17,3L22.25,7.5L17,12L22.25,16.5L17,21V18H14.26L11.44,15.18L13.56,13.06L15.5,15H17V12L17,9H15.5L6.5,18H2V15H5.26L14.26,6H17V3M2,6H6.5L9.32,8.82L7.2,10.94L5.26,9H2V6Z";
}

.button-replay {
	-fx-shape: "M18,18H6V6H18V18Z";
}

.button-svg-distort {
	-icon-paint: #ffffff;
    -fx-background-color: -icon-paint;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: 36;
    -fx-max-height: -size;
    -fx-max-width: 36;
}

.button-canzone-singola {
	-fx-shape: "M14,13V17H10V13H7L12,8L17,13M19.35,10.03C18.67,6.59 15.64,4 12,4C9.11,4 6.6,5.64 5.35,8.03C2.34,8.36 0,10.9 0,14A6,6 0 0,0 6,20H19A5,5 0 0,0 24,15C24,12.36 21.95,10.22 19.35,10.03Z";
}

.button-list-playlists {
	-fx-shape: "M14,10H2V12H14V10M14,6H2V8H14V6M2,16H10V14H2V16M21.5,11.5L23,13L16,20L11.5,15.5L13,14L16,17L21.5,11.5Z";
}

.button-search {
	-icon-paint: #ffffff;
    -fx-background-color: -icon-paint;
    -size: 21;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
	-fx-shape: "M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z";
}

.button-exit {
    -icon-paint: #CC2E4F;
    -fx-background-color: -icon-paint;
    -size: 24;
    -fx-min-height: 30;
    -fx-min-width: -size;
    -fx-max-height: 30;
    -fx-max-width: -size;
    -fx-shape: "M13,9H18.5L13,3.5V9M6,2H14L20,8V20C20,21.11 19.11,22 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2M11,4H6V20H11L18,20V11H11V4M12,19L15.89,15.11H13.56V12H10.45V15.11H8.11L12,19Z";
}

.button-account {
	-icon-paint: #ffffff;
    -fx-background-color: -icon-paint;
    -size: 56;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-padding: 0 0 150 0;
	-fx-shape: "M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z";
}

.button-special {
	-fx-background-color: #2A2A2A;
	-fx-border-width: 1;
	-fx-border-color: #ffffff;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
}

.button-special:hover {
	-fx-background-color: #bdc3c7;
}

.label {
    -fx-text-fill: #ffffff;
}

.list-view {
	-fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.list-cell:hover {
    -fx-background-color: #59595E;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.scroll-bar .increment-button {
  visibility: hidden;
}

.scroll-bar .decrement-button {
  visibility: hidden;
}

.scroll-bar:vertical {
  -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
  visibility: hidden;
}

.scroll-bar:vertical .track {
  visibility: hidden;
}

.scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}

.text-area .content {
	-fx-background-color: #2A2A2A;
	-fx-color: #ffffff;
}

.vbox-split {
	-fx-padding: 10;
	-fx-border-width: 0 0 0 0; 
	-fx-border-color: #fff transparent transparent transparent;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}

.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}

.stack-pane-player {
	-fx-border-width: 1 0 0 0; 
	-fx-border-color: #fff transparent  transparent;
}

.slider {
	-fx-opacity: 0.7;
}

.slider:hover {
	-fx-opacity: 1;
}

.table-view{
   -fx-background-color: transparent;
   -fx-table-cell-border-color: transparent;
   -fx-table-header-border-color: transparent;
}

.table-column {
	-fx-alignment: CENTER;
}

.table-view .column-header, .table-view .filler {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: 
        transparent
        transparent
        #ffffff
        transparent;
}

.table-view .column-header-background .label{
    -fx-text-fill: #ffffff;
}

.table-view .column-header {
    -fx-background-color: #37373C;
}

.table-view .table-cell{
    -fx-text-fill: #ffffff;
}

.table-row-cell{
    -fx-background-color: #37373C;
    -fx-cell-size: 30;
}

.table-row-cell:selected{
    -fx-background-color: #59595E;
    -fx-border-width: 1 0 1 0; 
    -fx-border-color: #fff transparent #fff transparent;
}

.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}